$hk: 'hk_grotesk', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$back-color: #f3f3f3;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $josefin;
  background-color: $back-color;
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.navbar {
  background-color: #8f59c1;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.25);
  .navbar-brand {
    font-family: $hk;
    font-size: 1.5em;
  }
  .nav-link.active,
  .user {
    transition: color 0.2s ease;
  }
  .nav-link.active:hover,
  .user:hover {
    color: #ffc8ff !important;
  }
}

.color-1 {
  color: #845ec2;
}

.color-2 {
  color: #d65db1;
}

.color-3 {
  color: #fc587e;
}

.color-4 {
  color: #fb5656;
}

.tiny-text {
  font-size: 0.9em;
}

.soft {
  border-radius: 14px;
  background: $back-color;
  box-shadow: 5px 5px 13px #dbdbdb, -5px -5px 13px #ffffff;
}

.softer {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.person-card {
  margin: 1em 0;
  img {
    border-radius: 50%;
  }

  p {
    margin: 0;
    text-align: center;
  }

  p:first-of-type {
    margin-top: 0.5em;
    font-size: 0.9em;
  }

  p:last-of-type {
    font-size: 0.7em;
  }
}

.star {
  color: #9976ff;
  width: 12px;
  height: 12px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

/*Different font for p*/
.p-hk p {
  font-family: $hk;
}

.results {
  transition: background-color 0.3s ease;
}

.results:hover {
  background-color: #e4e4e4;
}

.results div img {
  transition: box-shadow 0.2s ease;
}

.results:hover div img {
  // transform: scale(1.05);
  box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #ffffff;
}

.globe {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/undraw_air_support_wy1q.svg');
}

.fade {
  opacity: 0;
  animation: fade 0.5s ease 0.3s;
  animation-fill-mode: forwards;
}

.nav-anim {
  transform: translate(0, -50px);
  animation: navbar 0.5s ease, fade, fade 0.5s ease;
  animation-fill-mode: forwards;
}

/*==========keyframes==========*/

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes navbar {
  from {
    transform: translate(0, -50px);
  }

  to {
    transform: translate(0, 0);
  }
}
