@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f3f3f3;
}

::-moz-selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.navbar {
  background-color: #8f59c1;
  -webkit-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.25);
}

.navbar .navbar-brand {
  font-family: "hk_grotesk", sans-serif;
  font-size: 1.5em;
}

.navbar .nav-link.active,
.navbar .user {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.navbar .nav-link.active:hover,
.navbar .user:hover {
  color: #ffc8ff !important;
}

.color-1 {
  color: #845ec2;
}

.color-2 {
  color: #d65db1;
}

.color-3 {
  color: #fc587e;
}

.color-4 {
  color: #fb5656;
}

.tiny-text {
  font-size: 0.9em;
}

.soft {
  border-radius: 14px;
  background: #f3f3f3;
  -webkit-box-shadow: 5px 5px 13px #dbdbdb, -5px -5px 13px #ffffff;
          box-shadow: 5px 5px 13px #dbdbdb, -5px -5px 13px #ffffff;
}

.softer {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}

.person-card {
  margin: 1em 0;
}

.person-card img {
  border-radius: 50%;
}

.person-card p {
  margin: 0;
  text-align: center;
}

.person-card p:first-of-type {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.person-card p:last-of-type {
  font-size: 0.7em;
}

.star {
  color: #9976ff;
  width: 12px;
  height: 12px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

/*Different font for p*/
.p-hk p {
  font-family: "hk_grotesk", sans-serif;
}

.results {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.results:hover {
  background-color: #e4e4e4;
}

.results div img {
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.results:hover div img {
  -webkit-box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #ffffff;
          box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #ffffff;
}

.globe {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/undraw_air_support_wy1q.svg");
}

.fade {
  opacity: 0;
  -webkit-animation: fade 0.5s ease 0.3s;
          animation: fade 0.5s ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav-anim {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  -webkit-animation: navbar 0.5s ease, fade, fade 0.5s ease;
          animation: navbar 0.5s ease, fade, fade 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*==========keyframes==========*/
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes navbar {
  from {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes navbar {
  from {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=dashboard.css.map */